<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yasp.mapper.UserMapper">
    <select id="selectByUsername" resultType="com.yasp.entity.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <select id="selectByPhone" resultType="com.yasp.entity.User">
        SELECT * FROM users WHERE phone = #{phone}
    </select>

    <select id="selectByEmail" resultType="com.yasp.entity.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.yasp.entity.User">
        INSERT INTO users (username, nickname, password, realname, idnumber, gender, born_date, phone, email, avatar, register_date, create_time, update_time)
        VALUES (#{username}, #{nickname}, #{password}, #{realname}, #{idnumber}, #{gender}, #{bornDate}, #{phone}, #{email}, #{avatar}, #{registerDate}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteByUsername" parameterType="string">
        DELETE FROM users WHERE username = #{username}
    </delete>

    <!-- 更新头像、昵称、个人介绍、地区 -->
    <update id="updateUser" parameterType="com.yasp.entity.User">
        UPDATE users
        SET nickname = #{nickname},
            avatar = #{avatar},
            introduction = #{introduction},
            region = #{region}
        WHERE username = #{username}
    </update>

    <!-- 单独更新密码 -->
    <update id="updatePassword" parameterType="com.yasp.entity.User">
        UPDATE users
        SET password = #{password}
        WHERE username = #{username}
    </update>

    <update id="updatePhone" parameterType="string">
        UPDATE users
        SET phone = #{phone}
        WHERE username = #{username}
    </update>

    <update id="updateEmail" parameterType="string">
        UPDATE users
        SET email = #{email}
        WHERE username = #{username}
    </update>

    <update id="updateDegree" parameterType="string">
        UPDATE users
        SET degree = #{degree}
        WHERE username = #{username}
    </update>
</mapper>